{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<div class="back">
    <div class="view">
        <div class="login">

            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Tu est connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>

                <a class="register" href="{{ path('app_register') }}">Pas encore de compte ? inscris toi !</a>
                
                <div class="field">
                    <p for="inputEmail">Email</p>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>

                <div class="field">
                    <p for="inputPassword">Mot de passe</p>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>

                <br>
                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                <button class="btn btn-lg btn-primary" type="submit">
                    Se connecter
                </button>
            </form>
        </div>
    </div>
</div>


{% endblock %}
