

{% block stylesheets %}  
    <link rel="stylesheet" type="text/css" href="{{ asset('css/annonce.css') }}" /> 
{% endblock %}

{% block body %}

<div class="annonce">

    <h2 class="title">{{ annonce.title }}</h2>

    <p class="date">{{ annonce.date |date('d-m-Y') }} </p>

    <textarea spellcheck="false" readonly="true" rows="4" id="content{{annonce.id}}" class="content">{{ annonce.content }}</textarea>

    {% if annonce.link != null %}
    <a class="link" target="_blank" href="{{ annonce.link }}">Voir le trailer</a>
    {% endif %}

    <a class="voirPlus" href="{{ path('app_timtode_annonce', { id: annonce.id }) }}">voir plus</a>


</div>


{% endblock %}
