{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/navbar.css') }}" />
{% endblock %}

{% block navbar %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">

		<a class="navbar-brand" href="{{ path('home') }}">Team Tode</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">

				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Jeux
					</a>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="{{ path('app_timtode') }}">TIMTODE</a></li>
					<li><a class="dropdown-item" href="#">Spirout</a></li>
				</ul>
				</li>
			</ul>
			{% if is_granted('ROLE_ADMIN') %}
			<li class="nav-item d-flex" style="margin-right: 20px;">
				<a class="nav-link active" href="{{ path('admin') }}">Zone admin</a>
			</li>
			{% endif %}

			<li class="nav-item d-flex" style="margin-right: 20px;">
				{% if app.user %}
				<a class="nav-link active" href="{{ path('app_logout') }}">Se déconnecter</a>
				{% else %}
				<a class="nav-link active" href="{{ path('app_login') }}">Se connecter</a>
				{% endif %}
			</li>

		</div>
	</div>
</nav>

{% endblock %}
