{% extends 'base.html.twig' %}

{% block title %}{{ annonce.jeu }} - {{ annonce.title }}{% endblock %}

{% block body %}
    <div class="back">
        <div class="view">

            <h1 class="title">{{ annonce.title }}</h1>

            <p class="date">{{ annonce.date |date('d-m-Y') }} </p>

            <textarea spellcheck="false" wrap="soft" class="content">{{ annonce.content }}</textarea>

            {% if annonce.link != null %}
                <a class="link" target="_blank" href="{{ annonce.link }}">Voir le trailer</a>
            {% endif %}



            <div class="commentaires">

                <p>Commenter</p>



                {{ form_start(form) }}
                    <div class="content-input">
                        {{ form_row(form.content) }}
                        <button type="submit" class="btn">publier</button>
                    </div>
                {{ form_end(form) }}



                {% for commentaire in annonce.comments  %}
                    <div class="comment">
                        <p class="author">{{ commentaire.author }}</p>
                        <textarea spellcheck="false" class="comment-content">{{ commentaire.content }}</textarea>
                    </div>
                {% endfor %}

            </div>

        </div>

    </div>


{% endblock %}
